/* Genral */

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Splash Art */
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 100%;
  max-height: 900px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;

}

img {
  max-width: 900px;
  max-height: 900px;
}

/* Name and other seen at op of character_info.html */
#character-info {
  display: flex;
  color: #f1ebeb;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-left: 10%;
  margin-top: 20px;
}

#Character_Name {
  font-size: 60px;
  margin-right: 20px;
}

.character-info-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.job-icon {
  width: 64px;
  height: 64px;
  margin-right: 5px;
  vertical-align: middle;
}

#Character_Element,
#Character_Path {
  font-size: 32px;
}

/* Buttons */

.box {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  border: 1px solid #B7B7B7;
  background-color: #0d1f3c83;
  width: 15%;
  margin-top: 5%;
}

.box-tabs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #0D1F3C;


}

.box-tab {
  color: white;
  cursor: pointer;
  height: 50px;
  border: 1px solid #B7B7B7;
  background-color: #6B3FA0;
  text-align: center;
  padding-top: 10px;
  font-size: 1.5rem;
}

.box-tab.active {
  border-bottom: 2px solid white;
  background-color: #4b41d6;
}


/* Content seen after pressing buttons */

.box-content {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  border: 2px solid white;
  background-color: #6B3FA0;
  display: none;
}

.box-tab-content {
  display: none;
  color: white;
  flex-grow: 1;
}


.box-tab-content.active {
  display: block;
  color: white;
}

/* Content in "skills" button */

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.skill {
  flex: 1;
  position: relative;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  min-height: 100px;
  background-color: #222;
}

.icon {
  width: 64px;
  height: 64px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f1ebeb;
  color: #fff;
  margin-bottom: 10px;
}

.details {
  flex: 1;
}

.name {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  color: white;

}

.description {
  margin: 0;
  font-size: 16px;
  color: #87CEFA;
  width: 100%;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

html {
  overflow-y: scroll;
  scrollbar-color: rgb(67, 67, 199) #222;
  scrollbar-width: thin;
  visibility: visible;
  opacity: 1;
}

/**/

#backButton {
  display: flex;
  margin-left: 10%;
  content: url("backicon.webp");
  cursor: pointer;
}



/* Add this CSS code */

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

#Character_Splash_Art {
  animation: slideInFromRight 0.5s ease-out forwards;
  position: relative;
}