/* Scrollbar */

html {
  overflow-y: scroll;
  scrollbar-color: rgb(67, 67, 199) #222;
  scrollbar-width: thin;
}

/* Ogólne */
body {
  margin:0;
  padding: 0;
  background-image: url('Bg.webp');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}


* {
  box-sizing: border-box;
}


/* Navigation */
ul.topnav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 4px;
  background-color: #333;
}

#filter-container1{
  background-color: #202020;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  margin-right: 10px;
}


#filter-container2{
  background-color: #202020;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  
}

#filter-container1,
#filter-container2 {
  display: flex;
  justify-content: center;
}

#filter-container1 li,
#filter-container2 li {
  flex: none;
  text-align: center;
  margin-right: 10px;
}

#filter-container1 div,
#filter-container2 div {
  width: 50px;
  height: 50px;
  border-radius: 20%;
}



/* Tag Filtering */
.tag,
.tag-filter,
#reset-btn {
  display: inline-block;
  margin: 3px 4px;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.tag {
  background: none;
  color: #000;
  max-width: 128px;
  max-height: 256px;
  filter: brightness(80%);
}

.tag:hover {
  filter: brightness(100%);
  cursor: pointer;
}

.tag-container{
padding-left: 10%;
}

.tag-filter,
#reset-btn {
  background: transparent;
  color: #fff;
  min-width: 64px;
  min-height: 64px;
  vertical-align: middle;
  border: 2px solid #3d3d3d;
  
}

.tag-filter:hover,
#reset-btn:hover {
  cursor: pointer;
}


#reset-btn:hover {
  background-color: #3d3d3d;
  transition: background-color 0.2s ease-in-out;
}

#reset-btn:focus {
  outline: none;
}

#reset-btn:active {
  transform: scale(0.8);
  transition: transform 0.1s ease-in-out;
}


.active {
  
  color: #392edd;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 3px solid rgba(166, 20, 233, 0.87);
  box-shadow: 0px 2px 6px rgba(166, 20, 233, 0.3);
  background-color: rgba(73, 14, 100, 0.87);
}

/* Character Icons */
.tag:before {
  content: url("");
}

/* Filter Icons */
.tag-filter:before {
  content: url("");
}

