* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 7%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
}

#menu object {
    width: 100%;
}

.menu-button{
    height: 40px;
    background: darkslategrey;
    border: 2px solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    filter: brightness(0.8);
    padding: 8px 0 0;
    display: none;
}

.menu-button:hover{
    filter: brightness(1);
}

a {
    text-decoration: none;
}
